@import url('https://fonts.googleapis.com/css2?family=Geist+Mono&family=Geist+Sans&display=swap');

:root {
  --bg: #121212;
  --text: #fefefe;
  --text-secondary: #808080;
  --accent: #3ECF8E; 
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Geist Sans', sans-serif;
  height: 100%;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* --------------------------- TYPOGRAPHY --------------------------- */

p {
  color: var(--text-secondary) !important;
}

code, .mono, a, .hyperlink {
  font-family: 'Geist Mono', monospace !important;
}

a, .hyperlink {
  color: var(--accent) !important;
  text-decoration: underline !important;
  margin-top: 2rem;
  font-size: 0.875rem;
}

.highlight {
  color: var(--bg);
  background-color: var(--text);
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-radius: 7px;
}

::-moz-selection { /* Firefox */
  color: var(--bg);
  background: var(--text);
}

::selection {
  color: var(--bg);
  background: var(--text);
}
